body{
	background-color: whitesmoke;
	font-family: 'Chivo Mono', monospace;;
}

#login-btn{
	display: block;
	margin-top: 10px;
	/* padding: 10px 20px; */
	color: #2196F3;
	border: none;
	background: whitesmoke;
	cursor: pointer;
	margin-left:23em;
}



.input-error {
	border: 5px solid red;
  }
  

  input:focus {
	outline: 5px solid lightblue;
}

select:focus {
	outline: 5px solid lightblue;
}

textarea:focus {
	outline: 5px solid lightblue;
}

/*
#login-btn {
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	background-color: #2196F3;
	color: #fff;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	font-family: 'Dongle', sans-serif;
}
*/


#form-container{
    margin: 25px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 35px;
    border: 10px solid #cccc;
    width: 500px;
}

h2{
    text-align: center;
    margin-bottom: 25px;
}

form label{
    display: block;
    margin-bottom: 10px;
}

form input, form select, form textarea{
    display: block;
    padding: 10px;
    border: 5px solid #cccc;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

#submit-btn{
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #2196F3;
	color: #fff;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	margin-right: 10px;
}

#clear-btn {
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #f3f33ee1;
	color: #000000;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	margin-right: 10px;
}

#clear-btn:hover{
	background-color: #bf2a2a;
	color: #ffff;
}
#submit-btn:hover{
	background-color: #3EB489;
}

/*
.dark-mode-button{
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 20px;
	background: none;
}
*/

#ministery {
	width: 20px;
	height: 20px;
	border: 1px solid #000; /* Borde del checkbox */
	border-radius: 3px; /* Bordes redondeados */
	background-color: #ccc; /* Color de fondo */
	margin-right: 246px;
	margin-left: 246px;
  }
#info-icon-container {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

#info-icon-container i {
    font-size: 24px;
}

#info-container {
	font-family: 'Dongle', sans-serif;
    position: absolute;
    top: 60px;
	right: 8px;
	left: -300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;

}

#info-container h2 {
    margin-top: 0;
    font-size: 18px;
}

#info-container p {
    margin-bottom: 0;
}

#login-icon-container{
	position: absolute;
    top: 25px;
    right: 95px;
    cursor: pointer;
}

#login-icon-container i{
	font-size: 24px;
	color: #000000;
}


#dark{
	width: 35px;
	height: 35px;
	border-radius: none;
}

.dark-mode-button{
	top: 25px;
	left: 25px;
	padding: 10px 20px;
	background-color: whitesmoke;
	color: none;
	border: none;
	cursor: pointer;
	margin-right: 10px;
}
html.dark-mode{
	filter: invert(100%);
}

/*responsive */

@media (max-width:1200px){
	#form-container {
		margin: 50px auto; /* ajustar el margen superior */
		width: 65%; /* ajustar el ancho del contenedor */
	  }
	  
	  form input, form select {
		font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	  }
	  
	  #login-btn{
	  display: block;
	  margin-top: 10px;
	  /* padding: 10px 20px; */
	  color: #2196F3;
	  border: none;
	  background: whitesmoke;
	  cursor: pointer;
	  margin-left:25em;
	  }
	  #submit-btn, #clear-btn {
		padding: 8px 16px; /* ajustar el padding de los botones */
		font-size: 16px; /* ajustar el tamaño de fuente de los botones */
	  }
	  #ministery{
		margin-right: 385px;
		margin-left: 385px;
	  }
}


@media (max-width:850px){
	#form-container {
		margin: 50px auto; /* ajustar el margen superior */
		width: 60%; /* ajustar el ancho del contenedor */
	  }
	  
	  form input, form select {
		font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	  }
	  
	  #login-btn{
	  display: block;
	  margin-top: 10px;
	  /* padding: 10px 20px; */
	  color: #2196F3;
	  border: none;
	  background: whitesmoke;
	  cursor: pointer;
	  margin-left:18em;
	  }
	  #submit-btn, #clear-btn {
		padding: 8px 16px; /* ajustar el padding de los botones */
		font-size: 16px; /* ajustar el tamaño de fuente de los botones */
	  }
	  #ministery{
		margin-right: 225px;
		margin-left: 225px;
	  }
}


@media (max-width: 640px) {
	#form-container {
	  margin: 50px auto; /* ajustar el margen superior */
	  width: 80%; /* ajustar el ancho del contenedor */
	}
	
	form input, form select {
	  font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	}
	
	#login-btn{
	display: block;
	margin-top: 10px;
	/* padding: 10px 20px; */
	color: #2196F3;
	border: none;
	background: whitesmoke;
	cursor: pointer;
	margin-left:18em;
	}
	#submit-btn, #clear-btn {
	  padding: 8px 16px; /* ajustar el padding de los botones */
	  font-size: 16px; /* ajustar el tamaño de fuente de los botones */
	}
	#ministery{
		margin-right: 245px;
		margin-left: 245px;
	  }
  }

  @media (max-width: 480px) {
	#form-container {
	  margin: 50px auto; /* ajustar el margen superior */
	  width: 80%; /* ajustar el ancho del contenedor */
	}
	
	form input, form select {
	  font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	}
	
	#login-btn{
	display: block;
	margin-top: 10px;
	/* padding: 10px 20px; */
	color: #2196F3;
	border: none;
	background: whitesmoke;
	cursor: pointer;
	margin-left:14em;
	}
	#submit-btn, #clear-btn {
	  padding: 8px 16px; /* ajustar el padding de los botones */
	  font-size: 16px; /* ajustar el tamaño de fuente de los botones */
	}
	#ministery{
		margin-right: 126px;
		margin-left: 126px;
	  }
  }

  @media (max-width: 320px) {
	#form-container {
	  margin: 50px auto; /* ajustar el margen superior */
	  width: 80%; /* ajustar el ancho del contenedor */
	}
	
	form input, form select {
	  font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	}
	
	#login-btn{
	display: block;
	margin-top: 10px;
	/* padding: 10px 20px; */
	color: #2196F3;
	border: none;
	background: whitesmoke;
	cursor: pointer;
	margin-left:8em;
	}
	#submit-btn, #clear-btn {
	  padding: 8px 16px; /* ajustar el padding de los botones */
	  font-size: 16px; /* ajustar el tamaño de fuente de los botones */
	}

	#ministery{
		margin-right: 90px;
		margin-left: 90px;
	  }
	
  }