body {
	margin-top: 160px;
    background-color: whitesmoke;
    font-family: 'Chivo Mono', monospace;
    justify-content: center;
}

#form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 10px solid #cccc;
	border-radius: 35px;
	box-sizing: border-box;
}

#login-form {
	width: 100%;
	margin-top: 20px;
}

#submit-btn{
    position: unset;
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #2196F3;
	color: #fff;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	margin-right: 10px;
    display: block;
}

#home{
    top: 25px;
	left: 25px;
	padding: 10px 20px;
	background-color: whitesmoke;
	color: none;
	border: none;
	cursor: pointer;
	margin-right: 10px;
}


h2{
    text-align: center;
    margin-bottom: 25px;
}

form label{
    display: block;
    margin-bottom: 10px;
}

form input, form select{
    display: block;
    padding: 10px;
    border: 5px solid #cccc;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

#home{
    position: absolute;
    border-radius: none;
    top: 9px;
    left: 15px;
	right: 15px;
    width: 35px;
}

#home i {
    font-size: 30px;
}

footer {
	margin-top: 85px;
background-color: #f9f9f9;
padding: 20px;
text-align: center;
}

.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-container a {
color: #000000;
text-decoration: none;
}

.footer-container a:hover {
text-decoration: underline;
}

/*responsivo */
@media (max-width:1200px){
	#form-container {
		margin: 125px auto; /* ajustar el margen superior */
		width: 65%; /* ajustar el ancho del contenedor */
	
	  }
	  
	  form input, form select {
		font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	  }

}


@media (max-width:850px){
	#form-container {
		margin: 125px auto; /* ajustar el margen superior */
		width: 60%; /* ajustar el ancho del contenedor */
		
	  }
	  
	  form input, form select {
		font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	  }
	  
}


@media (max-width: 640px) {
	#form-container {
	  margin: 125px auto; /* ajustar el margen superior */
	  width: 80%; /* ajustar el ancho del contenedor */

	}
	
	form input, form select {
	  font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	}
	
  }

  @media (max-width: 480px) {
	#form-container {
	  margin: 125px auto; /* ajustar el margen superior */
	  width: 75%; /* ajustar el ancho del contenedor */
	
	}
	
	form input, form select {
	  font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	}
	
  }

  @media (max-width: 320px) {
	#form-container {
	  margin: 125px auto; /* ajustar el margen superior */
	  width: 65%; /* ajustar el ancho del contenedor */

	}
	
	form input, form select {
	  font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	}
	
  }