#login-btn {
	position: absolute;
	top: 50px;
	left: 50px;
	padding: 10px 20px;
	background-color: #2196F3;
	color: #fff;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

#form-container {
	margin: 100px auto;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 25px;
	border: 1px solid #ccc;
	width: 500px;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input, form select {
	display: block;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 15px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
	text-align: center;
}

#submit-btn{
	padding: 10px 20px;
	background-color: #2196F3;
	color: #fff;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	margin-right: 10px;
}

#clear-btn {
	padding: 10px 20px;
	background-color: #f3f33ee1;
	color: #000000;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	margin-right: 10px;
}

#clear-btn:hover, #submit-btn:hover {
	background-color: #3EB489;
}

@media screen and (max-width: 640px) {
	#form-container {
	  margin: 50px auto; /* ajustar el margen superior */
	  width: 90%; /* ajustar el ancho del contenedor */
	}
	
	form input, form select {
	  font-size: 16px; /* ajustar el tamaño de fuente de los inputs */
	}
	
	#login-btn {
	  top: 10px; /* ajustar la posición del botón de login */
	  left: 10px;
	  padding: 6px 12px; /* ajustar el padding del botón */
	  font-size: 14px; /* ajustar el tamaño de fuente del botón */
	}
	
	#submit-btn, #clear-btn {
	  padding: 8px 16px; /* ajustar el padding de los botones */
	  font-size: 16px; /* ajustar el tamaño de fuente de los botones */
	}
  }